.contact-us {

    &__heading {
        color: $color_muted;
    }

    &__info {
        text-align: center;
        .heading {
            font-size: 22px;
            text-transform: none;
            font-style: italic;
            color: $color_dark;
        }
        p {
            font-family: $font_primary;
            font-size: 18px;
        }
    }

}