.contact-us {

    &__heading {
        color: $color_muted;
    }

    &__info {
        text-align: center;
        .heading {
            font-size: 22px;
            text-transform: none;
            font-style: italic;
            color: $color_dark;
        }
        p {
            font-family: $font_primary;
            font-size: 20px;
        }
    }

}

.getting-here {

    &__row {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    &__title {
        text-align: center;
        text-transform: none;
        color: $color_alt_secondary;
        font-size: 32px;
        margin-bottom: 38px;
    }

    &__item {
        text-align: center;
        margin: 0 auto;
        color: $color_dark;
        padding: 0 30px;
        @media (min-width: 768px) {
            text-align: left;

        }
        &:first-of-type {
            margin-bottom: 20px;
            @media(min-width: 768px) {
                margin-bottom: 40px;
            }
        }
        p {
            font-family: $font_primary;
            font-size: 18px;
            a {
                color: $color_dark;
                text-decoration: underline;
                &:hover {
                    color: $color_muted;
                }
            }
        }
    }

    &__heading {
        text-transform: none;
        font-size: 28px;
        margin: 18px 0 12px;
        @media (min-width: 768px) {
            margin-top: 0;
        }
    }

    &__info {
        padding: 16px 0;
    }


}