.contact-us {

    &__heading {
        color: $color_muted;
    }

    &__info {
        text-align: center;
        .heading {
            font-size: 22px;
            text-transform: none;
            font-style: italic;
            color: $color_dark;
        }
        p {
            font-family: $font_primary;
            font-size: 20px;
        }
    }

}

.getting-there {

    &__row {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    &__title {
        text-align: center;
        text-transform: none;
        color: $color_alt_secondary;
        font-size: 32px;
        margin-bottom: 20px;
    }

    &__item {
        text-align: center;
        color: #fff;
        min-height: 265px;
        padding: 0 30px;
        p {
            font-family: $font_primary;
            font-size: 18px;
            text-shadow: 1px 1px 1px #000;
            a {
                color: #fff;
                text-decoration: underline;
                &:hover {
                    color: #fff;
                }
            }
        }
    }
    
    &__item-content {
        padding: 15px;
        min-height: inherit;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    &__heading {
        text-transform: none;
        font-size: 28px;
        margin-bottom: 30px;
        text-shadow: 1px 1px 1px #000;
    }


}

.the-block {
    display: block;
}