.info {

    padding: 50px 0;

    p {
        font-size: 18px;
        line-height: 2;
        font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-style: italic;
    }

    &--dark-bg {
        p {
            color: #fff;
        }

        blockquote {
            footer {
                color: darken(#fff, 10%);
            }
        }
    }

}

.blockquote {
    p {
        font-size: 24px;
        line-height: 1.6;
    }

    footer {
        font-size: 20px;
    }
}

.dark-overlay {
    box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.5);
}

.darker-overlay {
    box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.7);
}

.p10_0 {
    @media(min-width: 768px) {
        padding: 10px 0;
    }
}

@keyframes fade_in {
    from {
        opacity: 0;
        top: $move_intro_text;
    }
    to {
        opacity: 1;
        top: 0;
    }
}

.fade-me-in {
    position: relative;
    animation-name: fade_in;
    animation-duration: .8s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.opacity_0 {
    opacity: 0;
}