.home-suites {

    padding-top: 45px;
    padding-bottom: 45px;

    & &__heading {
        margin-bottom: 0;
    }

    & &__subheading {        
        margin-bottom: 40px;
        text-transform: none;
        color: $color_muted;
        font-weight: normal;
        font-family: $font_secondary;
    }

    &__item {
        margin-bottom: 40px;
        text-align: center;
    }

    &__link {

        &--title {
            color: initial;
            &:hover {
                color: inherit;
            }
        }

        &--img {
            display: inline-block;
            overflow: hidden;
            img {
                transition: transform .2s ease-in;
            }
            &:hover {
                img {
                    transform: scale(1.1);
                }
            }
        }

    }

    &__button-wrapper {
        margin-bottom: 20px;
    }

    &__button {
        font-family: $font_primary;
        width: 100%;
        transition: all .3s;
        $var1: #cbb069;
        &--var1 {
            background-color: $var1;
            border-color: $var1;
            color: $color_dark;
            &:hover {
                background-color: darken($var1, 5%);
                border-color: darken($var1, 5%);
                color: $color_dark;
            }
        }
        &--var2 {
            background-color: transparent;
            border-color: #0e354f;
            border-width: 2px;
            color: #0e354f;
            &:hover {
                background-color: #fff;
                border-color: lighten(#124364, 10%);
                color: lighten(#124364, 10%);
            }
        }
        &--var3 {
            background-color: $color_muted;
            border-color: $color_muted;
            color: #fff;
            &:hover {
                background-color: darken($color_muted, 5%);
                border-color: darken($color_muted, 5%);
                color: #fff;
            }
        }
        &--var4 {
            background-color: $color_dark;
            border-color: $color_dark;
            color: #fff;
            &:hover {
                background-color: $color_muted;
                border-color: $color_muted;
                color: #fff;
            }
        }
        &--var5 {
            background-color: transparent;
            border-color: #0e354f;
            border-width: 2px;
            color: #0e354f;
            &:hover {
                background-color: #0e354f;
                border-color: #0e354f;
                color: #fff;
            }
        }        
        
    }

    &__item-desc {
        font-size: 18px;
    }

    &__caption {
        text-align: center;
        padding: 20px 0;
    }

}