.home-suites {

    &__item {
        margin-bottom: 40px;
        text-align: center;
    }

    &__link {

        &--title {
            color: initial;
            &:hover {
                color: inherit;
            }
        }

        &--img {
            display: inline-block;
            overflow: hidden;
            img {
                transition: transform .2s ease-in;
            }
            &:hover {
                img {
                    transform: scale(1.1);
                }
            }
        }

    }

    &__button-wrapper {
        margin-bottom: 20px;
    }

    &__button {
        font-family: $font_primary;
        width: 100%;
        $var1: #cbb069;
        &--var1 {
            background-color: $var1;
            border-color: $var1;
            color: $color_dark;
            &:hover {
                background-color: darken($var1, 5%);
                border-color: darken($var1, 5%);
                color: $color_dark;
            }
        }
    }

    &__item-desc {
        font-size: 18px;
    }

    &__caption {
        text-align: center;
        padding: 20px 0;
    }

}