.page {

    & &__header {
        
        .page__intro-text {
            padding: 150px 20px 80px;
            text-align: center;
            @media (min-width: 1200px) {
                padding: 195px 20px 120px;
            }
            .intro-lead-in {
                margin: 0;
            }
        }
    }


    &__wrapper {
        padding-top: 45px;
        padding-bottom: 45px;
    }

    &__section {
        margin-bottom: 36px;
    }

}