.suite {

    & h2.suite__heading {
        color: $color_muted;
        font-size: 25px;
        @media (min-width: 480px) {
            font-size: 30px;
        }
        @media (min-width: 768px) {
            font-size: 40px;
        }
    }

    &__gallery {
        list-style: none;
    }

    &__gallery-img {
        max-width: 100%;
    }

}

.lSSlideOuter {

    .lSPager {

        &.lSGallery {
            margin-left: auto;
            margin-right: auto;

            li {
                opacity: .55;
                border-radius: 0;
                -webkit-transition: opacity .3s linear;
                transition: opacity .3s linear;
                &.active,
                &:hover {
                    opacity: 1;
                    border-radius: 0;
                }
            }

            img {
                
            }

        }
    }
}

.lSAction {

    & > .lSNext,
    & > .lSPrev {
        font-size: 30px;
        color: #fff;
        opacity: .9;
        -webkit-transition: opacity .3s linear;
                transition: opacity .3s linear;
        &:hover {
            opacity: .55;
        }
    }

    & > a {

    }

}