.suite {

    & h2.suite__heading {
        color: $color_muted;
        font-size: 22px;
        @media (min-width: 480px) {
            font-size: 30px;
        }
        @media (min-width: 768px) {
            font-size: 40px;
        }
    }

    &__info {
        padding: 0 0 30px;
        @media (min-width: 992px) {
            padding: 0 0 40px;
        }
        @media (min-width: 1200px) {
            padding: 0 0 50px;
        }
    }

    &__info-row {
        margin-left: 0;
        @media (min-width: 768px) {
            margin-left: -15px;
        }
    }

    &__description,
    &__description p {
        color: $color_muted;
        font-size: 17px;
        line-height: 1.6;
    }

    &__button {
        width: auto;
        margin: 18px 0;
    }

    &__gallery {
        list-style: none;
    }

    &__gallery-img {
        max-width: 100%;
    }

    &__footer,
    &__footer p {
        text-align: center;
        font-size: 18px;
        line-height: 1.7;
        color: $color_dark;
    }

}

.lSSlideOuter {

    .lSPager {

        &.lSGallery {
            margin-left: auto;
            margin-right: auto;

            li {
                opacity: .55;
                border-radius: 0;
                -webkit-transition: opacity .3s linear;
                transition: opacity .3s linear;
                &.active,
                &:hover {
                    opacity: 1;
                    border-radius: 0;
                }
            }

            img {
                max-height: 84px;
            }

        }
    }
}

.lSAction {

    & > .lSNext,
    & > .lSPrev {
        font-size: 30px;
        color: #fff;
        opacity: .9;
        -webkit-transition: opacity .3s linear;
                transition: opacity .3s linear;
        &:hover {
            opacity: .55;
        }
    }

    & > a {

    }

}