<footer class="site-footer parallax-window dark-overlay" data-parallax="scroll" data-image-src="{{- '/assets/img/footer-bg.jpg' | relative_url-}}">
    <div class="container site-footer__content" data-scroll-class="fade-me-in">
        <div class="row">
            <img class="site-footer__logo-img img-responsive img-centered" src="{{- '/assets/svg/Horizontal_white.svg' -}}" alt="Ferry Landing Suites logo.">
            <p class="site-footer__text site-footer__contact">
                800-391-8190 • 85 Front Street, Friday Harbor, WA 98250
            </p>
        </div>
    </div>
</footer>
