<footer class="site-footer bg-light-gray">
    <div class="container">
        <div class="row">
            <img class="site-footer__logo-img img-responsive img-centered" src="{{- '/assets/img/logos/dark-large.png' -}}" alt="Ferry Landing Suites logo.">
            <h3 class="site-footer__text site-footer__text--subtitle">
                At Friday Harbor
            </h3>
            <p class="site-footer__contact">
                800-391-8190 • 85 Front Street, Friday Harbor, WA 98250
            </p>
        </div>
    </div>
</footer>
