<footer class="site-footer bg-light-gray">
    <div class="container">
        <div class="row">
            <img class="site-footer__logo-img img-responsive img-centered" src="{{- '/assets/svg/Horizontal_black.svg' -}}" alt="Ferry Landing Suites logo.">
            <h3 class="site-footer__text site-footer__text--subtitle">
                At Friday Harbor
            </h3>
            <p class="site-footer__text site-footer__contact">
                800-391-8190 • 85 Front Street, Friday Harbor, WA 98250
            </p>
            <a href="{{- '/contact/' |relative_url -}}" class="btn btn-xl btn--alt site-footer__connect-link">
                Connect
            </a>
            <p class="site-footer__text site-footer__copyright">
                ©{{ site.time {{ site.date | date: '%Y' }} Ferry Landing Suites. All Rights Reserved.    
            </p>
        </div>
    </div>
</footer>
