<section class="info">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Heading to the magical San Juan Islands for a weekend getaway or longer vacation stay?
                </p>

                <p>
                    Want an incredible view of picturesque Friday Harbor, with ferries and boats sailing by?
                </p>

                <p>
                    Ferry Landing Suites, the closest accommodations to the Friday Harbor ferry, offer 2 modern pied-a-terres with the best location in the bustling town of Friday Harbor.
                </p>

                <p>
                    Walk straight off the ferry and up into your apartment, or drive your car into a reserved parking place at the Ferry Landing Suites, and you'll waste no time in starting your vacation! 
                </p>
            </div>
        </div>
    </div>
</section>