<section class="info">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Nestled conveniently in the heart of Friday Harbor, Ferry Landing Suites is just steps from the ferry, harbor, whale watching, and kayaking. Directly overlooking the ferries coming and going, and surrounded by an eclectic collection of restaurants, shops and art galleries, this bustling location will provide you with as much activity as you may desire. An added plus is the coffee shop on the lower level where lattes, fresh baked goods, and fruit smoothies are served daily.
                </p>
            </div>
        </div>
    </div>
</section>