 <!-- jQuery Version 1.11.0 -->
<script src="{{ "/assets/js/jquery-1.11.0.js" | relative_url }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/assets/js/bootstrap.min.js" | relative_url }}"></script>

<!-- Plugin JavaScript -->
<script src="{{ "/assets/js/jquery.easing.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/classie.js" | relative_url }}"></script>
<script src="{{ "/assets/js/cbpAnimatedHeader.js" | relative_url }}"></script>
<script src="{{ "/assets/js/parallax.min.js" | relative_url }}"></script>
{%- if page.has_slider == true -%}
    <script src="{{ "/assets/js/lightslider.min.js" | relative_url }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
          $("#lightSlider").lightSlider({
              gallery: true,
              item: 1,
              loop: true,
              slideMargin: 0,
              thumbMargin: 5,
              galleryMargin: 15,
              thumbItem: 5
          }); 
        });
      </script>
{%- endif -%}

<!-- Contact Form JavaScript -->
<script src="{{ "/assets/js/jqBootstrapValidation.js" | relative_url }}"></script>
<script src="{{ "/assets/js/contact_me.js" | relative_url }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/assets/js/agency.js" | relative_url }}"></script>
