<section id="quote" class="info info--dark-bg parallax-window row dark-overlay" data-parallax="scroll" data-image-src="{{- '/assets/img/quote-bg.jpg' | relative_url-}}">
    <div class="container">
        <div class="row">
            <blockquote class="blockquote">
                <p>
                    My wife and I frequent the San Juans, Roche Harbor, Friday Harbor, etc., but this suite has, without a doubt, the best accommodations. We are sending our daughter here for her honeymoon for a week! Our experience here has been simply incredible – our memories will last forever.
                </p>                
                <footer>Dennis and Pam Bowerman (Shelton, WA)</footer>
              </blockquote>
        </div>
    </div>
</section>