.navbar-container {
    position: relative;
    @media(min-width: 768px) {
        width: 98%;
        padding-left: 0;
        padding-right: 0;
    }
    @media(min-width: 992px) {
        width: 970px;
    }
    @media(min-width: 1200px) {
        width: 1170px;
    }
}

.navbar-brand {
    padding: 0;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    img {
        width: 205px;
        position: relative;
        top: 4px;
        @media(min-width: 768px) {
            width: 205px;
            top: -6px;
        }
        @media(min-width: 992px) {
            width: 275px;
            top: -15px;
        }
    }
}

ul.navbar-nav {
    li {
        a {
            padding: 10px 15px;
            display: block;
            -webkit-transition: all ease .35s;
            -moz-transition: all ease .35s;
            transition: all ease .35s;
            &:hover {
                text-decoration: none;
            }
            @media(min-width: 768px){
                float: left;
            }
        }
    }
    @media(min-width: 768px){
        width: 100%;
        li {
            float: left;
        }
    }
}


.navbar-part {
    @media(min-width: 768px){
        float: left;
        &.right {
            float: right;
        }
    }
}

.intro-lead-in {
    margin: 50px 0 30px 0;
}

.navbar-logo-img {
    transition: all .3s;
    &.narrow {
        @media(min-width: 992px) {
            width: 235px;
            top: -8px;
        }
    }
}

header {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: url('/assets/img/header-bg-alt.jpg');
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    min-height: 100%;
}