.info {

    padding: 50px 0;

    p {
        font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 18px;
        line-height: 2;
        font-style: italic;
    }

}

.home-suites {

    &__link {

        &--title {
            color: initial;
            &:hover {
                color: inherit;
            }
        }

    }

    &__item-desc {
        font-size: 18px;
    }

}