.info {

    padding: 50px 0;

    p {
        font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 18px;
        line-height: 2;
        font-style: italic;
    }

}

.home-suites {

    &__item {
        margin-bottom: 40px;
        text-align: center;
    }

    &__link {

        &--title {
            color: initial;
            &:hover {
                color: inherit;
            }
        }

        &--img {
            display: inline-block;
            overflow: hidden;
            img {
                transition: transform .2s ease-in;
            }
            &:hover {
                img {
                    transform: scale(1.1);
                }
            }
        }

    }

    &__button-wrapper {
        margin-bottom: 20px;
    }

    &__button {
        font-family: $font_primary;
        width: 100%;
    }

    &__item-desc {
        font-size: 18px;
    }

    &__caption {
        text-align: center;
        padding: 20px 0;
    }

}

.contact-section {

    &__container {
        padding: 36px 20px;
        background-color: rgba($color_alt_secondary, .85);
        border-radius: 6px;
    }

    &__fields {
        margin: 26px 0;
    }

    label {
        color: #fff;
    }

}