.navbar-brand {
    padding: 0;
    img {
        width: 180px;
        @media(min-width:768px) {
            width: 205px;
            position: relative;
            top: -12px;
        }
        @media(min-width:768px) {
            width: 230px;
            top: -16px;
        }
    }
}

.intro-lead-in {
    margin: 50px 0 30px 0;
}

.info {

    padding: 50px 0;

    p {
        font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 18px;
        line-height: 2;
        font-style: italic;
    }

}

.home-suites {

    &__item {
        margin-bottom: 40px;
        text-align: center;
    }

    &__link {

        &--title {
            color: initial;
            &:hover {
                color: inherit;
            }
        }

        &--img {
            display: inline-block;
            overflow: hidden;
            img {
                transition: transform .2s ease-in;
            }
            &:hover {
                img {
                    transform: scale(1.1);
                }
            }
        }

    }

    &__button-wrapper {
        margin-bottom: 20px;
    }

    &__button {
        font-family: $font_primary;
        width: 100%;
    }

    &__item-desc {
        font-size: 18px;
    }

    &__caption {
        text-align: center;
        padding: 20px 0;
    }

}

.contact-section {

    &__title {
        letter-spacing: 2px;
    }

    &__container {
        padding: 36px 20px;
        background-color: rgba($color_alt_secondary, .85);
        border-radius: 6px;
    }

    &__fields {
        margin: 26px 0;
    }

    label {
        color: #fff;
    }

}

.site-footer {

    text-align: center;
    padding: 50px 0;

    &__logo-img {
        padding-top: 30px;
        padding-bottom: 50px;
    }

    &__text {
        color: $color_dark;
        text-transform: none;

        &--subtitle {
            font-family: $font_secondary;
            font-style: italic;
            font-size: 36px;
        }
    }

    &__contact {
        font-size: 22px;
        padding: 18px 0;
    }

    &__connect-link {
        letter-spacing: 2px;
    }

    &__copyright {
        margin-top: 60px;
    }

}