.btn {
    color: #fff;
    background-color: $color_primary;
}


.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.open .dropdown-toggle.btn-xl {
    border-color: $color_primary;
    color: #fff;
    background-color: $color_secondary;
}

.btn--alt {
    background-color: $color_alt;
    border-color: $color_alt;
}

.btn--alt:hover,
.btn--alt:focus,
.btn--alt:active,
.btn--alt.active {
    background-color: $color_alt_secondary;
    border-color: $color_alt_secondary;
}

.form-control {
    color: $color_dark;
}

.desc {
    font-size: 18px;
    color: $color_muted;
    line-height: 2;
}

blockquote {
    position: relative;
    border: none;
    &::before {
        position: absolute;
        display: block;
        content: "";
        width: 56px;
        height: 56px;
        top: -23px;
        left: -23px;
        z-index: -1;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(/assets/img/quote.svg);
    }
    p:last-of-type {
        position: relative;
        &::after {
            position: absolute;
            display: block;
            content: "";
            width: 56px;
            height: 56px;
            bottom: 0;
            right: -23px;
            z-index: -1;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(/assets/img/quote.svg);
            transform: rotateY(180deg);
        }
    }
    footer {
        text-align: left;
    }
}