$color_primary: #fed136;
$color_secondary: #fec503;
$color_secondary_dark: #333;
$color_muted: #777;

$font_primary: Montserrat, "Helvetica Neue",Helvetica,Arial,sans-serif;
$font_secondary: "Droid Serif", "Helvetica Neue", Helvetica,Arial,sans-serif;