@mixin breakpoint($point) {
    @if $point == lg {
      @media (min-width: 1200px) { @content; }
    }
    @if $point == md {
      @media (min-width: 992px) { @content; }
    }
    @else if $point == sm {
      @media (min-width: 768px) { @content; }
    }
  }

$color_primary: #fed136;
$color_secondary: #fec503;
$color_secondary_dark: #333;
$color_muted: #777;
$color_dark: #333;

$color_alt_initial: #3498db;
$color_alt: darken($color_alt_initial, 35%);
$color_alt_secondary_initial: #2980b9;
$color_alt_secondary: darken($color_alt_initial, 30%);

$font_primary: Montserrat, "Helvetica Neue",Helvetica,Arial,sans-serif;
$font_secondary: "Droid Serif", "Helvetica Neue", Helvetica,Arial,sans-serif;

$move_intro_text: 16px;