@mixin breakpoint($point) {
    @if $point == lg {
      @media (min-width: 1200px) { @content; }
    }
    @if $point == md {
      @media (min-width: 992px) { @content; }
    }
    @else if $point == sm {
      @media (min-width: 768px) { @content; }
    }
  }

$color_primary: #fed136;
$color_secondary: #fec503;
$color_secondary_dark: #333;
$color_muted: #777;

$color_alt: #3498db;
$color_alt_secondary: #2980b9;

$font_primary: Montserrat, "Helvetica Neue",Helvetica,Arial,sans-serif;
$font_secondary: "Droid Serif", "Helvetica Neue", Helvetica,Arial,sans-serif;