---
layout: page
---

<section class="page__wrapper contact-us">

    <div class="container page__section">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading contact-us__heading">
                    {{- page.title -}}
                </h2>
            </div>
        </div>
    
        <div class="row contact-us__info">
            <h3 class="heading">
                Ferry Landing Suites
            </h3>

            <p>
                Steps from the ferry
            </p>
            <p>
                85 Front Street
            </p>
            <p>
                Friday Harbor, WA 98250
            </p>
            <p>
                <strong>toll free:</strong> 800.391.8190
            </p>        
        </div>

    </div>

    <div class="container page__section">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading contact-us__heading">
                    Getting There
                </h2>
            </div>
        </div>

        <div class="row getting-there__row">

            <h3 class="getting-there__title">
                By Boat
            </h3>
        
            <div class="col-md-6 dark-overlay getting-there__item" style="background-image: url({{- '/assets/img/contact/wsdot.jpg' | relative_url -}})">
                <h4 class="getting-there__heading">
                    Washington State Ferries
                </h4>
                <p>
                    This mode of transportation will give you a spectacular view of the islands.
                </p>
                <p>
                    <a href="http://wsdot.wa.gov/ferries/">wsdot.wa.gov/ferries</a>
                </p>
                <p>
                    800.843.3779
                </p>
            </div>

            <div class="col-md-6 getting-there__item">
                <h4 class="getting-there__heading">
                    Victoria Clipper
                </h4>
                <p>
                    <a href="https://www.clippervacations.com/">clippervacations.com/ferries</a>
                </p>
                <p>
                    206.448.5000
                </p>
            </div>

        </div>

        <div class="row getting-there__row">

            <h3 class="getting-there__title">
                By Air
            </h3>
        
            <div class="col-md-6 getting-there__item">
                <h4 class="getting-there__heading">
                    Kenmore Air
                </h4>
                <p>
                    <a href="hhttps://kenmoreair.com/">kenmoreair.com</a>
                </p>
                <p>
                    800.543.9595
                </p>
            </div>

            <div class="col-md-6 getting-there__item">
                <h4 class="getting-there__heading">
                    ViSan Juan Airlines
                </h4>
                <p>
                    <a href="http://sanjuanairlines.com/">sanjuanairlines.com</a>
                </p>
                <p>
                    800.874.4434
                </p>
            </div>

        </div>

    </div>

</section>    