---
layout: page
---

<section class="page__wrapper contact-us">

    <div class="container page__section">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading contact-us__heading">
                    {{- page.title -}}
                </h2>
            </div>
        </div>
    
        <div class="row contact-us__info">
            <h3 class="heading">
                Ferry Landing Suites
            </h3>

            <p>
                Steps from the ferry
            </p>
            <p>
                85 Front Street
            </p>
            <p>
                Friday Harbor, WA 98250
            </p>
            <p>
                <strong>toll free:</strong> 800.391.8190
            </p>        
        </div>

    </div>

    <div class="container page__section">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading contact-us__heading">
                    Getting There
                </h2>
            </div>
        </div>

        <div class="row contact-us__getting-there">
        
            <div class="col-md-6 contact-us__getting-there-item"></div>

            <div class="col-md-6 contact-us__getting-there-item"></div>

        </div>

    </div>

</section>    