---
layout: page
---

<section class="page__wrapper contact-us">

    <div class="container page__section">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading contact-us__heading">
                    {{- page.title -}}
                </h2>
            </div>
        </div>
    
        <div class="row contact-us__info">
            <h3 class="heading">
                Ferry Landing Suites
            </h3>

            <p>
                Steps from the ferry
            </p>
            <p>
                85 Front Street
            </p>
            <p>
                Friday Harbor, WA 98250
            </p>
            <p>
                <strong>toll free:</strong> 800.391.8190
            </p>        
        </div>

    </div>

    <div class="container page__section">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading contact-us__heading">
                    {{- page.getting_here.title -}}
                </h2>
            </div>
        </div>

        {%- for group in page.getting_here.groups -%}
            <div class="row getting-here__row">
                <h3 class="getting-here__title">
                    {{- group.title -}}
                </h3>
                <div class="row">
                    {%- for option in group.options -%}
                        <div class="getting-here__item row">
                            <div class="getting-here__item-img-wrapper col-sm-5">
                                <img class="img-responsive" src="{{- option.image | relative_url -}}" alt="{{- option.title -}}">
                            </div>
                            <div class="getting-here__item-content col-sm-7">                
                                <h4 class="getting-here__heading">
                                    {{- option.title -}}
                                </h4>
                                {%- assign the_length = option.description | split: '' | size -%}
                                {%- if option.description and the_length > 0 -%}
                                    {{ option.description | markdownify }}
                                {%- endif -%}
                                <p>
                                    <a href="{{- option.link.url -}}" target="_blank">
                                        {{- option.link.text -}}
                                    </a>
                                </p>
                                <p>
                                    {{- option.phone -}}
                                </p>
                            </div>
                        </div>
                    {%- endfor -%}
                </div>
            </div>
        {%- endfor -%}

    </div>

    <div class="container info getting-here__info">
        <p class="text-center">
           Parking is available on-site for guests of Ferry Landing Suites. 
        </p>
    </div>

</section>    