<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body id="page-top" class="index">

    {% include navigation.html %}
    {% include header.html %}
    
    {{ content }}

    {% include footer.html %}
    {% include js.html %}

    {%- if page.id == 'home' -%}
      <script>    
        $(window).on('load', function(){
          $('.intro-text').addClass('fade-me-in');
        });  
      </script>
    {%- endif -%}

  </body>

</html>
