<section class="home-suites bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading home-suites__heading">The Suites</h2>
            </div>
        </div>
        <div class="row home-suites__items">
            {% for suite in site.data.suites.suites %}
                <div class="col-sm-6 col-md-6 portfolio-item home-suites__item">
                    <a href="{{- suite.link.url | relative_url -}}" class="portfolio-link home-suites__link--img">
                        <img src="{{- suite.photo.path | relative_url -}}" class="img-responsive img-centered" alt="{{- suite.photo.alt_text -}}">
                    </a>
                    <div class="portfolio-caption home-suites__caption">
                        <h4>
                            <a class="home-suites__link home-suites__link--title" href="{{- suite.link.url | relative_url -}}">
                                {{- suite.name -}}
                            </a>
                        </h4>
                        <p class="text-muted home-suites__item-desc">
                            {{ suite.description }}
                        </p>
                    </div>
                    <div class="row home-suites__buttons">
                        <div class="col-sm-12 col-lg-6 home-suites__button-wrapper">
                            <a href="{{- suite.link.url | relative_url -}}" class="page-scroll btn btn-lg home-suites__button home-suites__button--more">
                                {{- suite.link.text -}}
                            </a>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <a target="_blank" href="{{- suite.book.url | relative_url -}}" class="page-scroll btn btn-lg btn--alt home-suites__button home-suites__button--book">
                                {{- suite.book.text -}}
                            </a>
                        </div>
                    </div>

                    <div class="row home-suites__buttons">
                        <div class="col-sm-12 col-lg-6 home-suites__button-wrapper">
                            <a href="{{- suite.link.url | relative_url -}}" class="page-scroll btn btn-lg home-suites__button home-suites__button--var1">
                                {{- suite.link.text -}}
                            </a>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <a style="color: yellow" target="_blank" href="{{- suite.book.url | relative_url -}}" class="page-scroll btn btn-lg btn--alt home-suites__button home-suites__button--book">
                                {{- suite.book.text -}}
                            </a>
                        </div>
                    </div>

                    <div class="row home-suites__buttons">
                        <div class="col-sm-12 col-lg-6 home-suites__button-wrapper">
                            <a href="{{- suite.link.url | relative_url -}}" class="page-scroll btn btn-lg home-suites__button home-suites__button--var2">
                                {{- suite.link.text -}}
                            </a>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <a target="_blank" href="{{- suite.book.url | relative_url -}}" class="page-scroll btn btn-lg btn--alt home-suites__button home-suites__button--book">
                                {{- suite.book.text -}}
                            </a>
                        </div>
                    </div>

                    <div class="row home-suites__buttons">
                        <div class="col-sm-12 col-lg-6 home-suites__button-wrapper">
                            <a href="{{- suite.link.url | relative_url -}}" class="page-scroll btn btn-lg home-suites__button home-suites__button--var3">
                                {{- suite.link.text -}}
                            </a>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <a target="_blank" href="{{- suite.book.url | relative_url -}}" class="page-scroll btn btn-lg btn--alt home-suites__button home-suites__button--book">
                                {{- suite.book.text -}}
                            </a>
                        </div>
                    </div>

                    <div class="row home-suites__buttons">
                        <div class="col-sm-12 col-lg-6 home-suites__button-wrapper">
                            <a href="{{- suite.link.url | relative_url -}}" class="page-scroll btn btn-lg home-suites__button home-suites__button--var4">
                                {{- suite.link.text -}}
                            </a>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <a target="_blank" href="{{- suite.book.url | relative_url -}}" class="page-scroll btn btn-lg btn--alt home-suites__button home-suites__button--book">
                                {{- suite.book.text -}}
                            </a>
                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>

        <p class="desc">
            {{ site.data.suites.description }}
        </p>
    </div>
</section>
